@use '@angular/material' as mat;

:host {
  @include mat.chips-overrides((
    container-height: 1.5rem,
  ));


  .on_development {
    @include mat.chips-overrides((
      label-text-color: var(--mat-sys-on-tertiary-container),
      outline-color: transparent,
    ));
  }


}

.container-mission {
  padding-top: 20vh;
}


mat-card {
  box-shadow: var(--mat-sys-level2);
  padding: 2rem;
  margin: 1rem 2rem;
}

.mat-mdc-card-header {
  align-items: flex-end;
}

.mat-mdc-card-avatar {
  border-radius: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
}

.devicon {
  font-size: 120%;
}

mat-icon {
  font-size: 1.4rem !important;
  width: 1.4rem !important;
  height: 1.4rem !important;
}



.grid-projects > div {
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-color: var(--mat-sys-primary);

  //border-color:
  //color-mix(in srgb, var(--mat-sys-primary) 50%, transparent);;

}

.grid-projects > div:nth-child(2n) {
  border-right: none;
  margin-left: -1px;
}

.grid-projects > div:nth-child(2n+1) {
   border-left: none;
   margin-right: -1px;
 }

.on_development {
  position: absolute;
  left: 1rem;
  top: 1rem;
  //background-color: var(--mat-sys-error);
}

.to_right {
  left: unset;
  right: 1rem;
  text-align: right;
}

.on_development mat-chip {
  background-color: var(--mat-sys-tertiary-container);
}
