<app-container id="contact">
  <div class="container-contact container-10">

    <h1>Contacto</h1>


    <div class="flex-row content-center">
      <mat-icon class="icon">mail</mat-icon>
      <p>
        contact [at] dunderlab.com
      </p>
    </div>

    <div class="flex-row content-center">
      <mat-icon class="icon">perm_phone_msg</mat-icon>
      <p>
        (+57) 314 370 5156
      </p>
    </div>

    <div class="flex-row content-center">
      <mat-icon class="icon">location_on</mat-icon>
      <p>
        Eje Cafetero, Colombia
      </p>
    </div>




  </div>
</app-container>
