.container-clients {
  padding-top: 20vh;
}

.alliance {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 200px;
}

p {
  font-size: 1.4rem;
  line-height: 2rem;
}

.invert {
  filter: invert(1);
}
