.container-clients {
  padding-top: 10vh;
}

.clients-icons {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 15vw;
  width: 15vw;
}

.mentors-icons {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 10vw;
  width: 25vw;
}

p {
  font-size: 1.4rem;
  line-height: 2rem;
}

.invert {
  filter: invert(1);
}

.mentors {
  margin-top: 10vh;
}
