.home-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.home-tagline {
  background-color: color-mix(
      in srgb,
      var(--mat-sys-primary-fixed) 50%,
      transparent
  );
  backdrop-filter: blur(5px);
  width: 50vw;
  text-align: right;
  top: 30vh;
  position: absolute;
  border-radius: 0 var(--mat-sys-corner-large) var(--mat-sys-corner-large) 0;
  color: var(--mat-sys-on-secondary-container);
}
