@media (prefers-color-scheme: light) {
    :root {
      --accent-color: #4ECDC4;
      --link-color: #0ea398;
      --dark-color: #1A535C;
      --light-color: #F7FFF7;
      --danger-color: #FF6B6B;
      --warning-color: #FFE66D;
      --text-color: #545454;
      --background-color: #ffffff;
      --background-light-color: #F7F7F7;
    }

    .dunderlab--home {
        background-image: url(/root/assets/logo_render_dark.svg);
    }

    #dunderlab--container-home {
         background-image: url(/root/assets/background.png);
         background-size: cover;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
      --accent-color: #4ECDC4;
      --link-color: #4ECDC4;
      --dark-color: #1A535C;
      --light-color: #F7FFF7;
      --danger-color: #FF6B6B;
      --warning-color: #FFE66D;
      --text-color: #d8d8d8;
      --background-color: #1A1A1A;
      --background-light-color: #212121;
    }

    .dunderlab-client {
        backdrop-filter: invert(1);
    }

    .dunderlab--home {
        background-image: url(/root/assets/logo_render.svg);
    }

    #dunderlab--container-home {
         background-image: url(/root/assets/background-dark.png);
    }
}


@media (min-width: 1200px) {
    .dunderlab-float-menu--launcher {
       display: none;
    }
}

@media (max-width: 1200px) {
    .dunderlab-toolbar-menu {
       display: none;
    }
}

.container-fluid {
    width: unset !important;
}

body {
    margin-top: 90px !important;
    font-family: Roboto;
    background-color: var(--background-color);
}

h1, h2 {
    font-weight: 300;
}


html {
    scroll-behavior: smooth;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.dunderlab-accent {
    color: var(--accent-color);
}


#dunderlab--menubar {
    height: 57px;
    background-color: var(--background-color);
    color: var(--text-color);
    display: inline-flex;
    width: 100%;
    position: fixed;
    padding: 15px;
    border: 1px solid var(--text-color);
    border-width: 1px 0;
    top: 0;
    z-index: 999;
}

#dunderlab--menubar ul.dunderlab-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

.dunderlab-toolbar-menu ul.dunderlab-menu > li {
    float: left;
    }

.dunderlab-float-menu ul.dunderlab-menu > li {
    margin-bottom: 15px;
    }

ul.dunderlab-menu > li {
    list-style: none;
    text-align: center;
    padding: 20px 15px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    }

.dunderlab-toolbar-menu {

}

.dunderlab-float-menu--launcher {
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    cursor: pointer;
    margin-left: auto;
}

.dunderlab-float-menu {
    position: fixed;
    background-color: var(--background-color);
    width: 100vw;
    z-index: 999;
}

ul.dunderlab-menu > li > a {
    color: var(--text-color);
    text-decoration: none;
    padding: 15px 0;
}

.dunderlab--home {
    width: 350px;
    background-repeat: no-repeat;
    background-size: 215px;
    background-position-y: 0px;
    background-position-x: 50px;
    overflow: visible;
    height: 88px;
}

.dunderlab--prompt {
    margin-right: 5px;
    color: var(--accent-color);
}

.dunderlab--cursor {
    display: inline-block;
    width: 8px;
    height: 14px;
    vertical-align: middle;
    margin-left: 3px;
    opacity: 0;
    background-color: var(--accent-color);
}

.dunderlab--container {
    background-color: var(--background-color);
    min-height: 100%;
    color: var(--text-color);
}

.dunderlab--container-title {
    font-size: 50px;
}

.dunderlab--submenu {
    position: absolute;
    list-style: none;
    margin-top: 10px;
}

.dunderlab--submenu > li {
    display: flex;
    padding: 6px 0px;
}

.dunderlab--submenu-hide {
    display: none;
}

.dunderlab--submenu-show {
    display: block;
}

.dunderlab-capability {
text-align: center;
    padding: 30px;
    margin: 30px;
    background-color: var(--background-light-color);
    padding-bottom: 35px;
    padding-right: 35px !important;
    padding-left: 35px !important;
    margin-bottom: 80px;
}

.dunderlab-capability div.dunderlab-capability--image {
    height: 130px;
    width: 130px;
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: -100px;
    background-color: var(--background-light-color);
    border-radius: 100%;
    margin-bottom: -20px;
}

.dunderlab-capability h1 {
    font-size: 20px;
    color: var(--text-color);
    text-align: left;
    font-weight: 400;
        margin-bottom: 7px;
}

.dunderlab-capability div.dunderlab-capability--description {
    color: var(--text-color);
    font-size: 16px;
    text-align: left;
    font-weight: 300;
}

#dunderlab--container-home {
    min-height: calc(100vh - 90px);
}

#dunderlab--container-contact {
    padding-top: 20vh;
    min-height: calc(100vh - 90px - 20vh - 200px);
}

#dunderlab--container-clients,
#dunderlab--container-competencies,
#dunderlab--container-mission_and_vision {
    padding-top: 10vh;
    min-height: calc(100vh - 90px - 10vh);
}

hr {
    background-color: var(--accent-color);
    border: none;
    height: 2px !important;
}

.dunderlab-mav h1 {
    font-size: 40px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
}

.dunderlab-mav div {
    font-weight: 300;
    font-size: 22px;
}

#dunderlab--container-projects_and_developments {
    padding-top: 15vh;
}

.dunderlab-dev--tools {
    font-style: italic;
}

.dunderlab-dev--logo {
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-size: 70px;
    width: 70px !important;
}

@media (min-width: 768px) {
    .dunderlab-dev {
        border: 1px solid var(--accent-color);
        border-width: 0 0 0 2px;
        padding-left: 60px !important;
        background-size: 39%;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: right;
    }

    .dunderlab-dev--tools--even {
        text-align: right;
    }

    .dunderlab-dev--even {
        border-width: 0 2px 0 0;
        margin-right: -2px;
        margin-left: 2px;
        padding-right: 60px !important;
    }

    .dunderlab-dev--align-right {
        text-align: right;
    }

    .dunderlab-dev--logo-odd.dunderlab-dev--logo-post {
        display: none;
    }

    .dunderlab-dev--logo-even.dunderlab-dev--logo-pre {
        display: none;
    }
}

@media (max-width: 768px) {
    .dunderlab-dev {
        margin-bottom: 30px;
        border-width: 0;
        border: 2px solid var(--accent-color);
        border-width: 2px 0 0 0;
        padding-left: 30px !important;
    }

    .dunderlab-dev--logo-post {
        display: none !important;
    }
}

.dunderlab-dev h1 {
    font-size: 30px;
    margin-bottom: 0px;

}.dunderlab-dev h2 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.dunderlab-dev div {
    font-weight: 300;
    font-size: 17px;
}

#dunderlab--container-contact {
    padding-top: 15vh;
}

.dunderlab-line {
    margin: 10px;
    font-weight: 300;
}

.dunderlab-line span {
    margin-left: 10px;
}

.dunderlab-dev--fa-icon {
    margin-left: 10px;
    margin-right: 10px;
}

.dunderlab-home h1 {
    font-size: 60px;
    font-family: "Roboto Mono";
}

.dunderlab-home h2 {
    font-size: 40px;
}

.dunderlab-contrast_text {
    background-color: #4ecdc459;
    padding: 30px;
    padding-left: 10vw;
    backdrop-filter: blur(5px);
}

.dunderlab-menu--item.selected a {
    border-bottom: 5px solid var(--accent-color);
}

.dunderlab-client {
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

#dunderlab--container-footer {
    background-color: var(--background-light-color);
    padding: 100px;
    min-height: 200px;
    font-weight: 300;
    line-height: 20px;
}
